<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>swim2Web</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUserData</display-name>
    <servlet-name>ManageUserData</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.ManageUserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUserData</servlet-name>
    <url-pattern>/ManageUserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImage</display-name>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageFriendship</display-name>
    <servlet-name>ManageFriendship</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.ManageFriendship</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageFriendship</servlet-name>
    <url-pattern>/ManageFriendship</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageSkills</display-name>
    <servlet-name>ManageSkills</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.ManageSkills</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageSkills</servlet-name>
    <url-pattern>/ManageSkills</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Handles access from non-registered users</description>
    <display-name>NonRegUserAcc</display-name>
    <servlet-name>NonRegUserAcc</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.NonRegUserAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NonRegUserAcc</servlet-name>
    <url-pattern>/nonreguseracc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Handles registration request from non registered user</description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/userregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchForUser</display-name>
    <servlet-name>SearchForUser</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.SearchForUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchForUser</servlet-name>
    <url-pattern>/SearchForUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendFriendshipRequest</display-name>
    <servlet-name>SendFriendshipRequest</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.SendFriendshipRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFriendshipRequest</servlet-name>
    <url-pattern>/SendFriendshipRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerToFriendshipRequest</display-name>
    <servlet-name>AnswerToFriendshipRequest</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.AnswerToFriendshipRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerToFriendshipRequest</servlet-name>
    <url-pattern>/AnswerToFriendshipRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerToHelpRequest</display-name>
    <servlet-name>AnswerToHelpRequest</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.AnswerToHelpRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerToHelpRequest</servlet-name>
    <url-pattern>/AnswerToHelpRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Lists available skills</description>
    <display-name>ListSkills</display-name>
    <servlet-name>ListSkills</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.ListSkills</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSkills</servlet-name>
    <url-pattern>/listskills</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Handles the creation of new skills</description>
    <display-name>SkillRegistration</display-name>
    <servlet-name>SkillRegistration</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.SkillRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SkillRegistration</servlet-name>
    <url-pattern>/skillregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Handles Requests for Help Creation</description>
    <display-name>HelprequestCreation</display-name>
    <servlet-name>HelprequestCreation</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.HelprequestCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelprequestCreation</servlet-name>
    <url-pattern>/helprequestcreation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Lists all requests for help</description>
    <display-name>ListHelprequests</display-name>
    <servlet-name>ListHelprequests</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.ListHelprequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListHelprequests</servlet-name>
    <url-pattern>/listhelprequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewSkillrequest</display-name>
    <servlet-name>NewSkillrequest</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.NewSkillrequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewSkillrequest</servlet-name>
    <url-pattern>/NewSkillrequest</url-pattern>
    <url-pattern>/newskillrequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListNewSkillrequests</display-name>
    <servlet-name>ListNewSkillrequests</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.ListNewSkillrequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListNewSkillrequests</servlet-name>
    <url-pattern>/ListNewSkillrequests</url-pattern>
    <url-pattern>/listnewskillrequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ListUsers</display-name>
    <servlet-name>ListUsers</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.ListUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsers</servlet-name>
    <url-pattern>/listusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSkill</display-name>
    <servlet-name>AddSkill</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.AddSkill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSkill</servlet-name>
    <url-pattern>/AddSkill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveSkill</display-name>
    <servlet-name>RemoveSkill</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.RemoveSkill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSkill</servlet-name>
    <url-pattern>/RemoveSkill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageHelpRequest</display-name>
    <servlet-name>ManageHelpRequest</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.ManageHelpRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageHelpRequest</servlet-name>
    <url-pattern>/ManageHelpRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendHelpRequest</display-name>
    <servlet-name>SendHelpRequest</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.SendHelpRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendHelpRequest</servlet-name>
    <url-pattern>/SendHelpRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFriend</display-name>
    <servlet-name>RemoveFriend</servlet-name>
    <servlet-class>it.polimi.swim2.frontend.RemoveFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFriend</servlet-name>
    <url-pattern>/RemoveFriend</url-pattern>
  </servlet-mapping>
</web-app>